<div class='carousel-inner'>
  <div class='carousel-item active'><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
011 CS Introduction to Computer
Lecture 5
<br>1<br>Supported by
COMPUTER FUNDAMENTAL TUTORIAL BOOK
From Tutorials Point Website
 <br>Prepared and collected by Ahmed A. Asiri<br></div>
  <div class='carousel-item'>Memory<br>A memory is just like a human brain. It is used to store data and instructions. Computer memory is the storage space in computer where data is to be processed and instructions required for processing are stored. The memory is divided into large number of small parts called cells. Each location or cell has a unique address which varies from zero to memory size minus one. For example, if computer has 64k words, then this memory unit has 64 * 1024=65536 memory locations. The address of these locations varies from 0 to 65535. Memory is primarily of three types 
Cache Memory 
Primary Memory/Main Memory 
Secondary Memory <br></div>
  <div class='carousel-item'>Cache Memory <br>Cache memory is a very high-speed semiconductor memory which can speed up CPU. It acts as a buffer between the CPU and main memory. It is used to hold those parts of data and program which are most frequently used by CPU. The parts of data and programs are transferred from disk to cache memory by operating system, from where CPU can access them. 
<br></div>
  <div class='carousel-item'>Cache Memory <br>Advantages 
The advantages of cache memory are as follows 
Cache memory is faster than main memory. 
It consumes less access time as compared to main memory. 
It stores the program that can be executed within a short period of time. 
It stores data for temporary use. 
Disadvantages 
The disadvantages of cache memory are as follows 
Cache memory has limited capacity. 
It is very expensive. 

<br></div>
  <div class='carousel-item'>Primary Memory (Main Memory) RAM<br>Primary memory RAM holds only those data and instructions on which computer is currently working. It has limited capacity and data is lost when power is switched off. RAM is volatile, i.e. data stored in it is lost when we switch off the computer or if there is a power failure. Hence a backup uninterruptible power system(UPS) is often used with computers. RAM is small, both in terms of its physical size and in the amount of data it can hold. 
<br></div>
  <div class='carousel-item'>Read Only Memory <br>ROM stands for Read Only Memory. The memory from which we can only read but cannot write on it. This type of memory is non-volatile. The information is stored permanently in such memories during manufacture.<br></div>
  <div class='carousel-item'>Advantages of ROM <br>The advantages of ROM are as follows: 
Non-volatile in nature 
These cannot be accidentally changed 
Cheaper than RAMs 
Easy to test 
More reliable than RAMs 
These are static and do not require refreshing 
Its contents are always known and can be verified 
<br></div>
  <div class='carousel-item'>Secondary Memory <br>This type of memory is also known as external memory or non-volatile. It is slower than main memory. These are used for storing data/Information permanently.

Characteristic of Secondary Memory:
These are magnetic and optical memories. 
It is known as backup memory. 
It is non-volatile memory. 
Data is permanently stored even if power is switched off. 
It is used for storage of data in a computer. 
Computer may run without secondary memory. 
Slower than primary memories. 
<br></div>
  <div class='carousel-item'>Motherboard<br>The motherboard serves as a single platform to connect all of the parts of a computer together. A motherboard connects CPU, memory, hard drives, optical drives, video card, sound card, and other ports and expansion cards directly or via cables. It can be considered as the backbone of a computer.<br></div>
  <div class='carousel-item'>Memory Units <br>Memory unit is: 
the amount of data that can be stored in the storage unit. 
that in which storage capacity is expressed in terms of Bytes. 
Following are the main memory storage units: 
<br></div>
  <div class='carousel-item'>Memory Units 

Few higher storage units are following 
<br></div>
</div>
