{% extends 'base.html' %}

{% block title %}Home - Your App{% endblock %}

{% block content %}

<style>
    .congratulation_card{
        border: 1px solid var(--bg-border);
        text-align: center;
        border-radius: 8px;
        width: 300px;
        padding: 30px 0;
    }

    #profileBtn{
        background-color: rgb(30, 241, 241);
        padding: 10px 50px;
        color: white;
        border-radius: 8px;
    }

   
    
</style>
    <div class="d-flex align-items-center w-100 justify-content-center" style="height: 60vh;">
        <div>

            <div class="congratulation_card">
                <div class="fa fa-"></div>
                <h1> Congratulations</h1>
                <p>Your Details have been successfully submitted</p>
                <h3 class="text-center">Scores</h3>
                <p>{{knowledge_gap|float|round(2)}}%</p>

                
            </div>
        </div>

    </div>

{% endblock %}